* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #193546 1.89%, #184353 35%, #203255 55%, #1b2c43 85%);
}

a {
    text-decoration: none;
    color: #b8b6b4;
}

ul,
li {
    list-style: none;
}

.clear_fix:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}

/* ?? 头部(登录) */
.header {
    height: 104px;
    min-width: 940px;
    margin: 0 auto;
    font-size: 14px;
    background-color: #171a21;
}

.content {
    width: 940px;
    margin: 0 auto;
}

.header>.content>.logo {
    width: 220px;
    height: 55px;
    float: left;
    margin-top: 38px;
}


.supernav_container {
    padding-top: 48px;
    float: left;
    display: flex;
}

.supernav_container a.menuitem {
    margin-left: 9px;
    margin-right: 9px;
}

.supernav_container a:hover {
    color: #fff;
}

.supernav_container>div:hover ul {
    display: block;
}

.supernav_container ul {
    width: 54px;
    position: absolute;
    display: none;
    box-shadow: 3px 3px 5px -3px #000;
    padding: 5px 15px 10px 15px;
    z-index: 2;
    background-color: #171a21;
}

.supernav_container ul li {
    height: 16px;
    width: 50px;
    padding: 6px 0px;
}

.supernav_container ul li a {
    height: 100%;
    width: 100%;
    font-size: 11px;
}

.action {
    float: right;
    color: #b8b6b4;
    font-size: 11px;
    display: flex;
    margin-top: 6px;
    position: relative;
}

.action span:hover,
.action a:hover {
    color: #FFF;
}

.action>.installsteam {
    height: 24px;
    display: inline-block;
    margin-right: 3px;
    /* offline
    background-color: #5c7e10; */
    /*online*/
    background-color: #616a72;
    background-image: url("../img/installsteam_download.png");
    background-repeat: no-repeat;
    background-position: 10px 5px;
}

.action>.installsteam>a {
    padding: 0 6px 0 35px;
    font-size: 11px;
    line-height: 21px;
    color: #e5e4dc;
}

.action>.installsteam:hover a {
    color: #FFF;
}

.action>.notification {
    width: 26px;
    height: 26px;
    background-color: #262625;
    text-align: center;
    line-height: 24px;
    margin: 0 10px;
}

.action>.notification:hover {
    background-color: #575451;
}

.action>.notification>img {
    width: 11px;
    height: 8px;
}

.account_dropdown>.box {
    position: relative;
    display: none;
}

.account_dropdown>.box>.usermenu {
    width: 150px;
    height: 134px;
    position: absolute;
    top: 8px;
    right: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 12px;
    background-color: #171a21;
    border: 1px solid #171a21;
    box-shadow: 0 0 12px #000000;
}

.account_dropdown>span {
    display: inline-block;
    width: 58px;
    margin-top: 4px;
    cursor: pointer;
    background: url("../img/btn_arrow_down_padded.png") no-repeat right center;
}

.account_dropdown>.box>.usermenu>a>span {
    color: #57cbde
}

.account_dropdown:hover>.box {
    display: block;
}

.action>.wallet {
    position: absolute;
    top: 26px;
    right: 60px;
    z-index: 0;
}

.action>a {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-left: 12px;
    background: linear-gradient(to bottom, rgba(83, 164, 196, 1) 5%, rgba(69, 128, 151, 1) 95%)
}

.action>a>img {
    width: 32px;
    height: 32px;
    padding: 1px;
    background: linear-gradient(to bottom, #41778f 5%, #3d697b 95%);
}

.store_header {
    width: 100%;
    position: relative;
}

.store_header .content {
    width: 940px;
    height: 75px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

.wishlist {
    width: 207px;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    right: 0;
    box-shadow: 0 0 3px #000;
    display: flex;
    justify-content: space-between;
}

.wishlist>a {
    width: 103px;
    height: 20px;
    display: inline-block;
    color: #fff;
    box-shadow: 0 0 3px #000;
}

.wishlist>a:nth-of-type(1) {
    background: url("../img/background_wishlist.jpg") -34px 30px;
}

.wishlist>a:nth-of-type(2) {
    color: #a4d007;
    background: url("../img/background_cart.jpg") -34px 30px;
}

.wishlist>a:nth-of-type(1):hover {
    background: #919aa3;
    color: #111;
}

.wishlist>a:nth-of-type(2):hover {
    color: #111;
    background: rgba(164, 208, 7, 0.50);
}

.store_nav {
    width: 940px;
    height: 33px;
    font-size: 13px;
    color: #c6d4df;
    background: linear-gradient(90deg,
            rgba(62, 103, 150, 0.919) 11.38%,
            rgba(58, 120, 177, 0.8) 25.23%,
            rgb(15, 33, 110) 100%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.store_nav>div>div {
    text-align: center;
    line-height: 33px;
    padding-left: 10px;
}

.newadd {
    background: url(https://store.st.dl.pinyuncloud.com/public/images/v6/storemenu/new_white.svg?v=2);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 26px 26px;
    cursor: pointer;
}

#foryou_store {
    width: 102px;
}

#foryou_store>span {
    background-image: none;
}

#foryou_store>img {
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

#noteworthy {
    width: 92px;
}

#genre {
    width: 68px;
}

#noteworthy:hover,
#genre:hover,
#foryou_store:hover,
.tab:hover {
    background: linear-gradient(90deg,
            rgba(33, 162, 255, 0.25) 0%,
            rgba(33, 162, 255, 0.15) 50%,
            rgba(50, 50, 51, 0) 100%);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.tab {
    height: 100%;
    line-height: 33px;
    padding: 0 15px;
}

.foryou:hover .foryour_store_menu,
.noteworthy:hover .noteworthy_menu,
.genre:hover .genre_menu {
    visibility: visible;
}

.store_nav>div>div>span {
    height: 100%;
    display: block;
}

.store_nav>div>a {
    height: 33px;
    text-align: center;
    line-height: 33px;
}

.store_nav>div>a:nth-of-type(1) {
    width: 82px;
}

.store_nav>div>a:nth-of-type(2) {
    width: 56px;
}

.store_nav>div>a:nth-of-type(3) {
    width: 69px;
}

.flexspace {
    flex: 1;
}

.searcharea {
    width: 210px;
    display: flex;
    align-items: center;
}

.store_nav form {
    width: 204px;
    height: 25px;
    border-radius: 4px;
    background-color: #316282;
    display: flex;
}

.store_nav form:hover {
    border: 1px solid #4c9acc;
}

.searcharea .searchbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.store_nav input {
    height: 100%;
    color: #000;
    border: none;
    font-weight: 300;
    font-size: 14px;
    background-color: #316282;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1)
}

.searchbox>img {
    width: 25px;
    height: 24px;
    cursor: pointer;
}

.store_nav input:focus {
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
}

.store_nav_menu {
    width: 177px;
    font-size: 12px;
    position: absolute;
    top: 33px;
    visibility: hidden;
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
    box-shadow: 0 0 12px #000000;
}

.store_nav_menu a {
    color: #d8d8d8;
    padding-bottom: 2px;
}

.store_nav_menu a:hover {
    border-bottom: 2px solid #ffffffff;
}

.store_nav_menu li.title {
    color: #2ebfff;
    font-size: 11px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    padding-left: 14px;
}

.store_nav_menu>ul li.type>a {
    color: #fff;
    font-size: 13px;
}

.foryour_store_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    z-index: 2;
}

.foryour_store_menu>ul,
.noteworthy_menu>ul,
.genre_menu ul {
    margin-bottom: 12px;
    text-align: left;
}

.foryour_store_menu a,
.noteworthy_menu a {
    padding: 3px 1px 2px 1px;
    margin: 0 10px 3px 13px;
}

.noteworthy_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    z-index: 2;
    left: 110px;
}

div.genre>div#genre~div.genre_menu {
    width: 100%;
    left: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    z-index: 2;
}

.genre_menu li.title {
    padding: 5px 5px 10px 2px;
    margin: 16px 13px 0 14px;
}

.genre_menu ul li {
    line-height: 20px;
    padding: 3px 1px;
    margin: 0 10px 3px 14px;
}

.genre_menu ul:nth-of-type(1) {
    width: 112px;
}

.genre_menu ul:nth-of-type(2) {
    width: 354px;
}

div.genre>div#genre~.genre_menu>ul.gametype {
    border: 1px solid #000;
    border-top: none;
    border-bottom: none;
    padding-left: 0px;
    width: 452px;
}

.genre_menu>.gametype>ul {
    width: 150px;
}

.genre_menu>.gametype {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gametype>ul:nth-of-type(2)>.type {
    padding-top: 40px;
}

.gametype>ul:nth-of-type(3)>.type {
    padding-top: 40px;
}

.genre_menu>.topic {
    padding-left: 0px;
}

.genre_menu>.topic>ul {
    padding-left: 20px;
}

.footer {
    width: 100%;
    font-size: 12px;
    padding: 16px 0 60px 0;
    background-color: #171a21;
}

.line {
    width: 100%;
    height: 8px;
    border-top: 1px solid #363c44;
}

.footer_content {
    width: 940px;
    margin: 0 auto;
    padding-top: 16px;
}

.footer_content>.valve_logo {
    float: left;
    width: 88px;
    padding-top: 2px;
    cursor: pointer;
}

.valve_logo>a>img {
    height: 25px;
}

.footer_content>.steam_logo {
    float: right;
    padding-top: 2px;
}

.steam_logo>img {
    width: 92px;
    height: 27px;
}

.footer_content>.footer_text {
    float: left;
    margin-left: 12px;
    color: #8F98A0;
    font-size: 12px;
    line-height: 16px
}

.footer_text a {
    margin: 0 9px;
}

.footer_text a:hover {
    color: #FFF;
}

.footer_content>.valve_links {
    color: #C6D4DF;
    font-size: 13px;
    margin-top: 8px;
}

.valve_links>a {
    margin: 0 9px;
}

.valve_links>a>img {
    vertical-align: middle;
    margin-right: 4px;
}

.valve_links>a:hover {
    color: #FFF;
}

.newmodal_bg {
    display: none;
    position: fixed;
    z-index: 900;
    background: #000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
}

.newmodal {
    width: 574px;
    height: 238px;
    display: none;
    color: #c6d4df;
    font-size: 12px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle at top left, rgba(74, 81, 92, 0.4) 0%, rgba(75, 81, 92, 0) 60%), #25282e;
}

.border {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #00ccff, #3366ff);
}