/* ---base部分 */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1f2428;
}

a {
    text-decoration: none;
    color: #b8b6b4;
}

ul,
li {
    list-style: none;
}

.clear_fix:after {
    width: 0;
    height: 0;
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}

/* ---base部分 */

/*TODO*/
/* ?? 头部(未登录) */
.header {
    height: 104px;
    width: 1519.2px;
    min-width: 940px;
    margin: 0 auto;
    font-size: 14px;
    background-color: #171a21;
}

.content {
    width: 940px;
    margin: 0 auto;
}

.header>.content>.logo {
    width: 220px;
    height: 55px;
    float: left;
    margin-top: 38px;
}

.supernav_container {
    padding-top: 48px;
    float: left;
    display: flex;
}

.supernav_container a.menuitem {
    margin-left: 9px;
    margin-right: 9px;
}

.supernav_container a:hover {
    color: #fff;
}

.supernav_container>div:hover ul {
    display: block;
}

.supernav_container ul {
    width: 54px;
    position: absolute;
    display: none;
    box-shadow: 3px 3px 5px -3px #000;
    padding: 5px 15px 10px 15px;
    z-index: 2;
    background-color: #171a21;
}

.supernav_container ul li {
    height: 16px;
    width: 50px;
    padding: 6px 0px;
}

.supernav_container ul li a {
    height: 100%;
    width: 100%;
    font-size: 11px;
}


.action {
    width: 258px;
    float: right;
    right: 0;
    position: relative;
    color: #b8b6b4;
    font-size: 11px;
}

.action>.installsteam {
    height: 21px;
    display: inline-block;
    margin-right: 3px;
    margin-top: 6px;
    background-color: #5c7e10;
    background-image: url("../img/installsteam_download.png");
    background-repeat: no-repeat;
    background-position: 10px 5px;
}

.action>.installsteam>a {
    padding: 0 9px 0 35px;
    font-size: 11px;
    line-height: 21px;
    color: #e5e4dc;
}

.action>.installsteam>a:hover {
    color: #FFF;
}

.action>a {
    margin-right: 6px;
}

.action>span {
    width: 42px;
    display: inline-block;
    margin-left: 7px;
    cursor: pointer;
    background: url("../img/btn_arrow_down_padded.png") no-repeat right center;
}

.action>span:hover,
.action>a:hover {
    color: #FFF;
}

/* ?? 头部(未登录) */
/*TODO*/
/* **内容 */
.page {
    width: 100%;
    height: 935px;
    background: url("../img/acct_creation_bg.jpg") no-repeat -492px -104px;
}

.page>.page_content {
    width: 940px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    color: #b8b6b4;
}

.page_content>.login {
    width: 620px;
    padding: 20px;
    padding-top: 40px;
    background: radial-gradient(60.12% 60.12% at 104.83% -0.03%, rgb(74, 81, 92, 0.3) 0%, rgba(74, 81, 92, 0) 100%);
}

.login {
    display: flex;
    justify-content: center;
}

.login_box {
    width: 280px;
    height: 372px;
}

.login_box>h2 {
    font-size: 32px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.account_name_title,
.password_title {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: #b8b6b4;
}

.account_name,
.password {
    width: 100%;
    display: block;
    padding: 8px 6px;
    margin-bottom: 18px;
    outline: none;
    color: #E9E9E9;
    border: 1px solid #26282D;
    border-radius: 3px;
    background: #32353C;
}

.remember_login {
    font-size: 14px;
    vertical-align: top;
}

.sub {
    width: 100%;
    margin-top: 20px;
}

.sub>button {
    height: 36px;
    display: block;
    font-size: 12px;
    border-radius: 2px;
    margin: 0 auto;
    border: none;
    padding: 1px;
    cursor: pointer;
    color: #c3e1f8;
    background: transparent;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3)
}

.sub>button>span {
    height: 30px;
    line-height: 35px;
    display: block;
    font-size: 15px;
    padding: 3px 80px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%);
    background-size: 330% 100%;
    background-position: 25%;
}

.sub>button>span:hover {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%);
    background-size: 330% 100%;
    background-position: 0%;
}

.sub>a {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.sub>a:hover {
    color: #66c0f4;
}

.page_content>.signup {
    width: 320px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup>.login_join_desc {
    width: 192px;
    font-size: 14px;
    text-align: center;
}

.login_join_desc>div {
    margin-bottom: 10px;
}

.login_join_desc>a:hover {
    color: #66c0f4;
}

.signup>.join {
    margin-top: 20px;
    text-align: center;
}

.join>a {
    margin-top: 20px;
    text-align: center;
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    background: transparent;
}

.join>a>span {
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
    display: block;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
}

.join>a>span:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}

/* ** 内容 */
/*TODO*/
/* +++ 底部 */
.footer_fix {
    padding-top: 10px;
}

.footer {
    width: 100%;
    font-size: 12px;
    padding: 16px 0 60px 0;
    background-color: #171a21;
}

.line {
    width: 100%;
    height: 8px;
    border-top: 1px solid #363c44;
}

.footer_content {
    width: 940px;
    margin: 0 auto;
    padding-top: 16px;
}

.footer_content>.valve_logo {
    float: left;
    width: 88px;
    padding-top: 2px;
    cursor: pointer;
}

.valve_logo>a>img {
    height: 25px;
}

.footer_content>.steam_logo {
    float: right;
    padding-top: 2px;
}

.steam_logo>img {
    width: 92px;
    height: 26px;
}

.footer_content>.footer_text {
    float: left;
    margin-left: 12px;
    color: #8F98A0;
    font-size: 12px;
    line-height: 16px
}

.footer_text a {
    margin: 0 9px;
}

.footer_text a:hover {
    color: #FFF;
}

.footer_content>.valve_links {
    color: #C6D4DF;
    font-size: 13px;
    margin-top: 8px;
}

.valve_links>a {
    margin: 0 9px;
}

.valve_links>a>img {
    vertical-align: middle;
    margin-right: 4px;
}

.valve_links>a:hover {
    color: #FFF;
}

/* +++ 底部 */

.page_content .warning {
    display: none;
    width: 255px;
    height: 20px;
    font-size: 15px;
    margin-top: 55px;
    margin-bottom: 20px;
    padding: 16px;
    overflow: hidden;
    border: 2px solid #b44040;
    background-color: #101214;
    animation: change .3s linear;
    animation-iteration-count: 1;
}

@keyframes change {
    0% {
        height: 0;
        padding: 0 16px;
    }

    50% {
        height: 10px;
        padding: 8px 16px;
    }

    100% {
        height: 20px;
        padding: 16px;
    }
}



.loading {
    width: 62px;
    height: 62px;
    margin: 0 auto;
    display: none;
}

.loading>div {
    float: left;
    margin-right: 6px;
    width: 12px;
    height: 68px;
    background-color: #67c1f5;
    animation: loading 1s ease-in-out infinite;
}

.loading>div:nth-child(2) {
    animation-delay: 0.16s;
}

.loading>div:nth-child(3) {
    animation-delay: 0.32s;
}

@keyframes loading {
    0% {
        transform: scale(1.0, 0.6);
        background-color: #67c1f5;
    }

    30% {
        transform: scale(1.0, 1.0);
        background-color: #67c1f5;
    }

    55% {
        transform: scale(1.0, 0.6);
        background-color: #67c1f5;
    }

    100% {
        transform: scale(1.0, 0.6);
        background-color: #67c1f5;
    }
}