* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #193546 1.89%, #184353 35%, #203255 55%, #1b2c43 85%);
}

a {
    text-decoration: none;
    color: #b8b6b4;
}


ul,
li {
    list-style: none;
}

.clear_fix:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}

/* ?? 头部(登录) */
.header {
    height: 104px;
    min-width: 940px;
    margin: 0 auto;
    font-size: 14px;
    background-color: #171a21;
}

.content {
    width: 940px;
    margin: 0 auto;
}

.header>.content>.logo {
    width: 220px;
    height: 55px;
    float: left;
    margin-top: 38px;
}


.supernav_container {
    padding-top: 48px;
    float: left;
    display: flex;
}

.supernav_container a.menuitem {
    margin-left: 9px;
    margin-right: 9px;
}

.supernav_container a:hover {
    color: #fff;
}

.supernav_container>div:hover ul {
    display: block;
}

.supernav_container ul {
    width: 54px;
    position: absolute;
    display: none;
    box-shadow: 3px 3px 5px -3px #000;
    padding: 5px 15px 10px 15px;
    z-index: 2;
    background-color: #171a21;
}

.supernav_container ul li {
    height: 16px;
    width: 50px;
    padding: 6px 0px;
}

.supernav_container ul li a {
    height: 100%;
    width: 100%;
    font-size: 11px;
}

.action {
    float: right;
    color: #b8b6b4;
    font-size: 11px;
    display: flex;
    margin-top: 6px;
    position: relative;
}

.action span:hover,
.action a:hover {
    color: #FFF;
}

.installsteam {
    height: 24px;
    display: inline-block;
    margin-right: 3px;
    /* offline
    background-color: #5c7e10; */
    /*online*/
    /* background-color: #616a72; */
    background-image: url("../img/installsteam_download.png");
    background-repeat: no-repeat;
    background-position: 10px 5px;
}

.action .installsteam>a {
    padding: 0 6px 0 35px;
    font-size: 11px;
    line-height: 21px;
    color: #e5e4dc;
}

.action .installsteam:hover a {
    color: #FFF;
}

.action .notification {
    width: 26px;
    height: 26px;
    display: inline-block;
    position: relative;
    top: -17px;
    background-color: #262625;
    text-align: center;
    line-height: 24px;
    margin: 0 10px;
}

.action .notification:hover {
    background-color: #575451;
}

.action .notification>img {
    width: 11px;
    height: 8px;
}

.account_dropdown {
    display: inline-block;
    position: relative;
    top: -17px;
}

.account_dropdown>.box {
    position: relative;
    top: -5px;
}

.account_dropdown>.box>.usermenu {
    width: 150px;
    height: 134px;
    position: absolute;
    top: 8px;
    right: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 12px;
    background-color: #171a21;
    border: 1px solid #171a21;
    box-shadow: 0 0 12px #000000;
}

.account_dropdown>span {
    display: inline-block;
    width: 58px;
    margin-top: 4px;
    cursor: pointer;
    background: url("../img/btn_arrow_down_padded.png") no-repeat right center;
}

.account_dropdown>.box>.usermenu>a>span {
    color: #57cbde
}

.action .wallet {
    position: absolute;
    top: 26px;
    right: 60px;
    z-index: 0;
}

.action .userlogo {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-left: 12px;
    background: linear-gradient(to bottom, rgba(83, 164, 196, 1) 5%, rgba(69, 128, 151, 1) 95%)
}

.action .userlogo>img {
    width: 32px;
    height: 32px;
    padding: 1px;
    background: linear-gradient(to bottom, #41778f 5%, #3d697b 95%);
}

.renderBox {
    line-height: 23px;
}

.renderBox .signin {
    font-size: 11px;
    margin: 0 6px;
}

.renderBox .language {
    font-size: 11px;
    width: 42px;
    display: inline-block;
    margin-left: 7px;
    cursor: pointer;
    background: url("../img/btn_arrow_down_padded.png") no-repeat right center;
}

.renderBox .language:hover,
.renderBox .signin:hover {
    color: #FFF;
}

.store_header {
    width: 100%;
    position: relative;
}

.store_header .content {
    width: 940px;
    height: 75px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

.wishlist {
    width: 207px;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    right: 0;
    box-shadow: 0 0 3px #000;
    display: flex;
    justify-content: space-between;
}

.wishlist>a {
    width: 103px;
    height: 20px;
    display: inline-block;
    color: #fff;
    box-shadow: 0 0 3px #000;
}

.wishlist>a:nth-of-type(1) {
    background: url("../img/background_wishlist.jpg") -34px 30px;
}

.wishlist>a:nth-of-type(2) {
    color: #a4d007;
    background: url("../img/background_cart.jpg") -34px 30px;
}

.wishlist>a:nth-of-type(1):hover {
    background: #919aa3;
    color: #111;
}

.wishlist>a:nth-of-type(2):hover {
    color: #111;
    background: rgba(164, 208, 7, 0.50);
}

.wishlist_home_page {
    width: 940px;
    margin: 0 auto;
}

.wishlist_header {
    width: 100%;
    margin: 15px 0 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wishlist_header>img {
    width: 67px;
    height: 67px;
}

.wishlist_header>h2 {
    color: #fff;
    font-size: 26px;
    margin-left: 15px;
    margin-bottom: 0px;
    font-weight: normal;
    text-transform: uppercase;
}

.wish_list_search {
    width: 100%;
    display: flex;
    margin-bottom: 12px;
    position: relative;
}

.wish_list_search>input {
    width: 100%;
    height: 38px;
    margin-right: 20px;
    padding: 7px 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #000;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 1px 1px 0 0 rgba(255, 255, 255, 0.2);
}

.wish_list_search>input:hover {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 1px 1px 0 0 rgba(255, 255, 255, 0);
}

.wish_list_search>input:focus-visible {
    outline: #0060df 2px solid;
}

.controls {
    font-size: 13px;
    color: #fff;
    display: flex;
}

.controls>div {
    padding: 10px 14px 8px 14px;
    margin: 0px 15px 0px 0px;
    color: #9099a1;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
}

.filter_tab {
    cursor: pointer;
    height: 20px;
    transition: background-color 300ms;
}

.filter_tab:hover,
.sort:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.filter,
.sort>.options {
    display: none;
    z-index: 2;
}

.filter_tab:hover>.filter,
.sort:hover>.options {
    display: flex;
}

.hr {
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.filter {
    width: 940px;
    padding: 30px;
    padding-right: 22px;
    box-sizing: border-box;
    position: absolute;
    flex-wrap: wrap;
    left: 0;
    top: 39px;
    color: white;
    background-color: #808a9c;
}

.category {
    width: 220px;
    height: 135px;
    display: flex;
    flex-direction: column;
}

.category>h3 {
    color: #222d3d;
    font-size: 13px;
    margin: 5px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.category>label,
.category input {
    color: white;
    vertical-align: top;
    font-weight: 300;
    margin: 2px 2px;
    line-height: 17px;
    font-size: 12.5px;
}

.sort {
    position: relative;
}

.sort>.sort_by>span {
    color: #fff;
}

.sort>.options {
    width: 100%;
    flex-direction: column;
    background-color: #808a9c;
    color: white;
    position: absolute;
    left: 0;
    top: 38px;
}

.sort>.options>div {
    cursor: pointer;
    margin: 8.5px;
}

.sort>.options>div:hover {
    color: #000;
}

.wish_list_ctn {
    width: 100%;
}

.nothing_to_see_here {
    display: none;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 75px;
    color: #e5e5e5;
}

.nothing_to_see_here>h2 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 10px;
    letter-spacing: 0.03em;
    font-weight: normal;
    padding-top: 2px;
}

.nothing_to_see_here>p {
    font-size: 12px;
    margin-top: 8px;
}

.wish_row {
    width: 100%;
    padding: 16px 0 8px;
    margin-bottom: 10px;
    background-color: rgba(64, 81, 99, 0.9);
    transition: top 300ms;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
}

.wish_row:hover input {
    background-color: #313c48;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.wish_row>.hover_handler {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transition: width 300ms, border-color 300ms;
}

.hover_handler>img {
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: move;
    transform: translate(-50%, -50%);
}

.hover_handler>div {
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
}

.hover_handler input {
    width: 22px;
    color: #b9bfc6;
    background-color: transparent;
    border-radius: 3px;
    font-size: 11px;
    padding: 3px 4px;
    border: none;
    text-align: center;
}

.wish_row>.capsule {
    position: relative;
    margin-right: 19px;
    margin-left: 56px;
    width: 292px;
    height: 136px;
    transition: margin 300ms;
}

.wish_row>.capsule>img {
    width: 100%;
    height: 100%;
}

.capsule>.screenshots>div {
    width: 292px;
    height: 136px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms;
    background-position: center center;
}

.capsule>.screenshots>div>img {
    width: 100%;
    height: 100%;
}

.capsule:hover .screenshots>div {
    animation: fadein 4s linear;
    animation-iteration-count: infinite;
}

.capsule:hover .screenshots>div:nth-child(1) {
    animation-delay: 0s
}

.capsule:hover .screenshots>div:nth-child(2) {
    animation-delay: 1s
}

.capsule:hover .screenshots>div:nth-child(3) {
    animation-delay: 2s
}

.capsule:hover .screenshots>div:nth-child(4) {
    animation-delay: 3s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    28% {
        opacity: 1;
    }

    31% {
        opacity: 0;
    }
}

.wish_row>.wish_row_content {
    width: 557px;
    height: 148px;
    display: flex;
    flex-direction: column;
}

.wish_row_content>a {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 15px 0;
}

.wish_row_content>.middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middle>.stats {
    display: grid;
    grid-template-columns: 140px auto;
    grid-template-rows: auto;
    margin-bottom: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 11px;
    color: #b2b8bd;
}

.stats>.review_summary {
    color: #66C0F4;
}

.purchase {
    height: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2px;
}

.discount_area {
    display: flex;
    flex-wrap: nowrap;
}

.discount_area>.discount_pct {
    background: rgba(76, 107, 34, 0.5);
    color: #a4d007;
    padding: 0 5px;
    font-size: 26px;
}

.discount_price {
    width: 44px;
    padding: 0 10px 4px 7px;
    color: #b2b8bd;
    font-weight: 200;
    font-size: 12px;
}

.discount_origin_price {
    color: #707e89;
    text-decoration: line-through;
    font-size: 11px;
}

.discount_finall_price {
    color: #ffffff;
    font-size: 13px;
}

.add_to_cart {
    width: 122px;
    height: 32px;
    display: inline-block;
    border-radius: 2px;
    border: none;
    padding: 1px;
    cursor: pointer;
    color: #d2efa9;
    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 32px;
}

.add_to_cart>span {
    pointer-events: none;
}

.add_to_cart:hover {
    background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
    color: #fff;
}

.lower {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.platform {
    height: 20px;
    margin-bottom: 10px;
}

.earlyaccess {
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    padding: 0 6px;
    margin-right: 7px;
    color: #000;
    background-color: #67c1f5;
}

.platform_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 1px;
    color: transparent;
}

.win {
    background: url("../img/icon_platform_win.png");
}

.mac {
    background: url("../img/icon_platform_mac.png");
}

.linux {
    background: url("../img/icon_platform_linux.png");
}

.lower>.lower_footer {
    width: 100%;
    height: 24px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
}

.lower_footer>.tags {
    display: flex;
}

.tags>div {
    height: 13px;
    color: #8f98a0;
    border-radius: 3px;
    margin-right: 3px;
    padding: 2px 5px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.tag:hover {
    background: rgba(255, 255, 255, 0.1);
}

.add_date {
    height: 19px;
    margin-top: 5px;
    color: #b2b8bd;
}

.add_date>span {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dotted rgba(178, 184, 189, .6)
}

.add_date>span:hover {
    color: #d8dde2;
}

.footer_fix {
    padding-top: 167px;
}

.footer {
    width: 100%;
    font-size: 12px;
    padding: 16px 0 60px 0;
    background-color: #171a21;
}

.line {
    width: 100%;
    height: 8px;
    border-top: 1px solid #363c44;
}

.footer_content {
    width: 940px;
    margin: 0 auto;
    padding-top: 16px;
}

.footer_content>.valve_logo {
    float: left;
    width: 88px;
    padding-top: 2px;
    cursor: pointer;
}

.valve_logo>a>img {
    height: 25px;
}

.footer_content>.steam_logo {
    float: right;
    padding-top: 2px;
}

.steam_logo>img {
    width: 92px;
    height: 26px;
}

.footer_content>.footer_text {
    float: left;
    margin-left: 12px;
    color: #8F98A0;
    font-size: 12px;
    line-height: 16px
}

.footer_text a {
    margin: 0 9px;
}

.footer_text a:hover {
    color: #FFF;
}

.footer_content>.valve_links {
    color: #C6D4DF;
    font-size: 13px;
    margin-top: 8px;
}

.valve_links>a {
    margin: 0 9px;
}

.valve_links>a>img {
    vertical-align: middle;
    margin-right: 4px;
}

.valve_links>a:hover {
    color: #FFF;
}

.newmodal_bg {
    display: none;
    position: fixed;
    z-index: 900;
    background: #000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
}

.newmodal {
    width: 574px;
    height: 238px;
    display: none;
    color: #c6d4df;
    font-size: 12px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle at top left, rgba(74, 81, 92, 0.4) 0%, rgba(75, 81, 92, 0) 60%), #25282e;
}

.border {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #00ccff, #3366ff);
}

.newmodal_header>.title {
    padding: 32px 32px 0px 32px;
    text-align: left;
    font-weight: 300;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
}

.newmodal_ctn {
    font-size: 14px;
    color: #acb2b8;
    padding: 32px;
}

.newmodal_ctn>.btn {
    text-align: right;
    font-size: 14px;
    color: #acb2b8;
}

.comfirm {
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    border-radius: 2px;
    border: none;
    padding: 1px;
    cursor: pointer;
    margin-left: 12px;
    margin-top: 12px;
    color: #d2efa9;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
}

.comfirm>span {
    pointer-events: none;
}

.comfirm:hover {
    background: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
}

.cancle {
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    border-radius: 2px;
    padding: 1px;
    cursor: pointer;
    margin-left: 12px;
    margin-top: 12px;
    color: #dfe3e6;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-out;
    background: linear-gradient(to right, #32363f 5%, #32363f 95%);
}

.cancle:hover {
    background: linear-gradient(to right, #464d58 5%, #464d58 95%);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}