* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #171a21;
}

a {
    text-decoration: none;
    color: #b8b6b4;
}

ul,
li {
    list-style: none;
}

.clear_fix:after {
    width: 0;
    height: 0;
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}

.footer_fix {
    padding-top: 167px;
}

.footer {
    width: 100%;
    font-size: 12px;
    padding: 16px 0 60px 0;
    background-color: #171a21;
}

.line {
    width: 100%;
    height: 8px;
    border-top: 1px solid #363c44;
}

.footer_content {
    width: 940px;
    margin: 0 auto;
    padding-top: 16px;
}

.footer_content>.valve_logo {
    float: left;
    width: 88px;
    padding-top: 2px;
    cursor: pointer;
}

.valve_logo>a>img {
    height: 25px;
}

.footer_content>.steam_logo {
    float: right;
    padding-top: 2px;
}

.steam_logo>img {
    width: 92px;
    height: 26px;
}

.footer_content>.footer_text {
    float: left;
    margin-left: 12px;
    color: #8F98A0;
    font-size: 12px;
    line-height: 16px
}

.footer_text a {
    margin: 0 9px;
}

.footer_text a:hover {
    color: #FFF;
}

.footer_content>.valve_links {
    color: #C6D4DF;
    font-size: 13px;
    margin-top: 8px;
}

.valve_links>a {
    margin: 0 9px;
}

.valve_links>a>img {
    vertical-align: middle;
    margin-right: 4px;
}

.valve_links>a:hover {
    color: #FFF;
}